<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.hospitalbackend.model.dao.DailySummaryLogMapper" >
  <resultMap id="BaseResultMap" type="DailySummaryLog" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="cashier_role_id" property="cashierRoleId" jdbcType="INTEGER" />
    <result column="total_money" property="totalMoney" jdbcType="DECIMAL" />
    <result column="invoice_code_begin" property="invoiceCodeBegin" jdbcType="CHAR" />
    <result column="invoice_code_end" property="invoiceCodeEnd" jdbcType="CHAR" />
    <result column="begin_date" property="beginDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="DailySummaryLog" >
    insert into daily_summary_log (cashier_role_id, total_money,invoice_code_begin,
    invoice_code_end, begin_date, end_date)
    values (#{cashierRoleId,jdbcType=INTEGER}, #{totalMoney,jdbcType=DECIMAL},#{invoiceCodeBegin,jdbcType=CHAR},
    #{invoiceCodeEnd,jdbcType=CHAR}, #{beginDate,jdbcType=TIMESTAMP},#{endDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="DailySummaryLog" >
    insert into daily_summary_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cashierRoleId != null" >
        cashier_role_id,
      </if>
      <if test="totalMoney != null" >
        total_money,
      </if>
      <if test="invoiceCodeBegin != null" >
        invoice_code_begin,
      </if>
      <if test="invoiceCodeEnd != null" >
        invoice_code_end,
      </if>
      <if test="beginDate != null" >
        begin_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cashierRoleId != null" >
        #{cashierRoleId,jdbcType=INTEGER},
      </if>
      <if test="totalMoney != null" >
        #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="invoiceCodeBegin != null" >
        #{invoiceCodeBegin,jdbcType=CHAR},
      </if>
      <if test="invoiceCodeEnd != null" >
        #{invoiceCodeEnd,jdbcType=CHAR},
      </if>
      <if test="beginDate != null" >
        #{beginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="getByCashierIdAndDate" resultMap="BaseResultMap">
    select * from daily_summary_log
    where cashier_role_id = #{cashierId}
    and end_date &gt;= #{beginDateStr} and end_date &lt;= #{endDateStr}
  </select>
</mapper>