<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospitalbackend.model.dao.DepartmentMapper">
    <select id="get" resultType="Department" parameterType="Integer">
    select id, classification, code, name, type from department where id = #{id}
  </select>

    <insert id="insert" parameterType="com.neuedu.hospitalbackend.model.po.Department" >
    insert into department (id, code, name,
      classification, type)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{classification,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>

    <update id="update" parameterType="com.neuedu.hospitalbackend.model.po.Department">
        update department set code = #{code}, name = #{name}, classification = #{classification}, type=#{type} where id = #{id}
    </update>

    <delete id="delete" parameterType="Integer">
        delete from department where id = #{id}
    </delete>
</mapper>