<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospitalbackend.model.dao.DiseaseMapper">
    <resultMap id="BaseResultMap" type="com.neuedu.hospitalbackend.model.po.Disease" >
        <result column="id" property="id" jdbcType="SMALLINT" />
        <result column="icd_code" property="icdCode" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
    </resultMap>
    <select id="get" resultMap="BaseResultMap" parameterType="Short">
        select id, icd_code, code, name, type from disease where id = #{id}
    </select>

    <insert id="insert" parameterType="com.neuedu.hospitalbackend.model.po.Disease">
        insert into disease (icd_code, code, name, type) values (#{icdCode}, #{code}, #{name}, #{type})
    </insert>

    <update id="update" parameterType="com.neuedu.hospitalbackend.model.po.Disease">
        update disease set icd_code = #{icdCode}, code = #{code}, name = #{name}, type = #{type} where id = #{id}
    </update>

    <delete id="delete" parameterType="Short">
        delete from disease where id = #{id}
    </delete>

    <select id="getTypeOfDiseaseByIcdCode" resultType="String">
        select type
        from disease
        where icd_code = #{icdCode}
    </select>

    <select id="ListChineseDisease" resultMap = "BaseResultMap">
        select *
        from disease
        where type = '中医疾病'
    </select>

    <select id="ListWesternDisease" resultMap = "BaseResultMap">
        select *
        from disease
        where type != '中医疾病'
    </select>

    <select id="getDiseaseByIcdCode" resultType="com.neuedu.hospitalbackend.model.po.Disease">
        select *
        from disease
        where icd_code = #{icdCode}
    </select>
</mapper>