<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospitalbackend.model.dao.ExaminationMapper">

    <resultMap id="ExaminationResultMap" type="Examination">
        <id column="id" property="id"/>
        <result column="case_id" property="caseId"/>
        <result column="department_id" property="departmentId"/>
        <result column="project_id" property="projectId"/>
        <result column="status" property="status"/>
        <result column="goal" property="goal"/>
        <result column="result_description" property="resultDescription"/>
        <result column="result_image" property="resultImage"/>
        <result column="creator_role_id" property="creatorRoleId"/>
        <result column="examination_role_id" property="examinationRoleId"/>
        <result column="advice" property="advice"/>
        <result column="requirement" property="requirement"/>
    </resultMap>

    <select id="listPreparedPatientsByCaseIdOrName" resultType="HashMap">
        select c.registration_id, c.patient_name
        from patient_case c, examination e, transaction_log t
        where e.id = t.collection_id and e.project_id = t.project_id
            and e.case_id = c.registration_id
            and e.status = 2 and e.department_id = #{departmentId}
            <if test = "caseId != null">
                and c.registration_id = #{caseId}
            </if>
            <if test="patientName != null and patientName != ''">
                and c.patient_name = #{patientName}
            </if>
    </select>

    <select id="listAppliedProjectsByCaseId" resultType="HashMap">
      select n.id, n.name, e.id, e.gmt_create, t.status, e.requirement
      from examination e, non_medicine n, transaction_log t
      where t.registration_id = #{caseId}  and t.collection_id = e.id  and t.project_id = e.project_id
          and n.id = e.project_id
          and e.status = 2 and e.department_id = #{departmentId}
    </select>

    <update id="checkInProject">
        update examination
        set status = 4, examiner_role_id = #{examinerRoleId}
        where id = #{collectionId} and project_id = #{projectId} and status = 2
    </update>

    <update id="cancelProject">
        update examination
        set status = 3
        where id = #{collectionId} and project_id = #{projectId} and status = 2
    </update>

    <select id="listCheckedInButNotRecordedProject" resultType="HashMap">
      select n.id, n.name, e.id, e.gmt_create, e.status as e_status, t.status as t_status, e.requirement
      from examination e, non_medicine n, transaction_log t
      where t.registration_id = #{caseId}  and t.collection_id = e.id  and t.project_id = e.project_id
          and e.status = 4 and e.department_id = #{departmentId}
          and (result_description = null or result_description = '')
          and (result_image = null or result_image = '')
          and (advice = null or advice = '')
          and n.id = e.project_id
    </select>

    <update id="recordResult">
        update examination
        set result_description = #{resultDescription}, result_image = #{resultImage}, advice = #{advice}
        where id = #{collectionId} and project_id = #{projectId}
    </update>

    <select id="getStatusOfProject" resultType="Integer">
        select status
        from examination
        where id = #{collectionId} and project_id = #{projectId}
    </select>

    <update id="updateStatus">
        update examination set status = #{status}
        where id = #{collectionId} and project_id = #{projectId}
    </update>

    <select id="getLatestId" resultType="Integer">
        select id
        from examination
        order by id desc
        limit 1
    </select>


    <select id="getCollectionInfo" resultType="HashMap">
        select i.id as collectionId, creator_role_id as applicantRoleId
        from examination i
        where case_id = #{caseId}
        limit 1
    </select>

</mapper>