<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.hospitalbackend.model.dao.InvoiceMapper" >

  <resultMap id="BaseResultMap" type="Invoice" >
    <result column="id" property="id" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>

  <insert id="insert" parameterType="Invoice" >
    insert into invoice (id, status, version)
    values (#{id,jdbcType=CHAR}, #{status,jdbcType=TINYINT}, #{version,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="Invoice" >
    insert into invoice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="getAvailableInvoiceCode" resultType="string">
      select id from invoice where status = 1 order by id limit 1
  </select>
</mapper>