<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.hospitalbackend.model.dao.InvoiceMapper" >

  <resultMap id="BaseResultMap" type="Invoice" >
    <result column="id" property="id" jdbcType="CHAR" />
    <result column="is_available" property="isAvailable" jdbcType="TINYINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>

  <insert id="insert" parameterType="Invoice" >
    insert into invoice (id, is_available, version)
    values (#{id,jdbcType=CHAR}, #{isAvailable,jdbcType=TINYINT}, #{version,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="Invoice" >
    insert into invoice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isAvailable != null" >
        is_available,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="isAvailable != null" >
        #{isAvailable,jdbcType=TINYINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="getAvailableInvoiceCode" resultType="string">
      select min(id) from invoice where is_available = true
  </select>

  <update id="updateInvoiceStatusById" parameterType="Invoice">
    update invoice set is_available = false where id = #{id}
  </update>
</mapper>