<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.hospitalbackend.model.dao.RecipeTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.neuedu.hospitalbackend.model.po.RecipeTemplate" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="scope" property="scope" jdbcType="TINYINT" />
    <result column="medicine_code" property="medicineCode" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="dosage" property="dosage" jdbcType="DECIMAL" />
    <result column="dosage_unit" property="dosageUnit" jdbcType="VARCHAR" />
    <result column="frequency" property="frequency" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="SMALLINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="RecipeTemplateInfo" type="HashMap" >
    <result column="r_name" property="name" jdbcType="VARCHAR" />
    <result column="m_name" property="medicineName" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="scope" property="scope" jdbcType="TINYINT" />
    <result column="medicine_code" property="medicineCode" jdbcType="VARCHAR" />
    <result column="type" property="medicineType" jdbcType="TINYINT" />
    <result column="dosage" property="dosage" jdbcType="DECIMAL" />
    <result column="dosage_unit" property="medicineUnit" jdbcType="VARCHAR" />
    <result column="frequency" property="frequency" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="SMALLINT" />
  </resultMap>

  <insert id="insert" parameterType="com.neuedu.hospitalbackend.model.po.RecipeTemplate" >
    insert into recipe_template (name, role_id,
      department_id, scope, medicine_code, 
      type, dosage, dosage_unit, 
      frequency, amount, gmt_create, 
      gmt_modified)
    values (#{name,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER},
      #{departmentId,jdbcType=INTEGER}, #{scope,jdbcType=TINYINT}, #{medicineCode,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{dosage,jdbcType=DECIMAL}, #{dosageUnit,jdbcType=VARCHAR}, 
      #{frequency,jdbcType=VARCHAR}, #{amount,jdbcType=SMALLINT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.hospitalbackend.model.po.RecipeTemplate" >
    insert into recipe_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="scope != null" >
        scope,
      </if>
      <if test="medicineCode != null" >
        medicine_code,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="dosage != null" >
        dosage,
      </if>
      <if test="dosageUnit != null" >
        dosage_unit,
      </if>
      <if test="frequency != null" >
        frequency,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="scope != null" >
        #{scope,jdbcType=TINYINT},
      </if>
      <if test="medicineCode != null" >
        #{medicineCode,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="dosage != null" >
        #{dosage,jdbcType=DECIMAL},
      </if>
      <if test="dosageUnit != null" >
        #{dosageUnit,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=SMALLINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="getRecipeTemplateByRoleIdAndName" resultMap="BaseResultMap">
    select *
    from recipe_template
    where role_id = #{roleId} and name = #{name}
  </select>

  <select id="listAvailableByType" resultMap="RecipeTemplateInfo">
    select distinct r.role_id, r.name as r_name, r.scope, r.department_id, r.scope, r.medicine_code, m.name as m_name, r.type,
            r.dosage, r.dosage_unit, r.frequency, r.amount
    from recipe_template r, medicine m
    where (role_id = #{roleId} or (scope = 2 and department_id = #{departmentId}) or scope = 3)
          and r.medicine_code = m.code and r.type = #{type}
  </select>

  <delete id="deleteByRIdAndName">
    delete
    from recipe_template
    where role_id = #{roleId} and name = #{recipeName}
  </delete>

</mapper>