<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospitalbackend.model.dao.RegistrationMapper">

  <resultMap id="BaseResultMap" type="Registration">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="patient_id" jdbcType="INTEGER" property="patientId" />
    <result column="appointment_date" jdbcType="DATE" property="appointmentDate" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="registration_level_id" jdbcType="SMALLINT" property="registrationLevelId" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="total_fee" jdbcType="DECIMAL" property="totalFee" />
    <result column="is_normal" jdbcType="BIT" property="isNormal" />
    <result column="cashier_id" jdbcType="INTEGER" property="cashierId" />
    <result column="pay_type" jdbcType="TINYINT" property="payType" />
    <result column="is_buy_case_book" jdbcType="BIT" property="isBuyCaseBook" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>

  <insert id="insert" parameterType="Registration" useGeneratedKeys="true" keyProperty="id">
    insert into registration (id, patient_id, appointment_date, 
      role_id, registration_level_id, department_id, 
      total_fee, is_normal, cashier_id, 
      pay_type, is_buy_case_book, gmt_create, 
      gmt_modified)
    values (#{id,jdbcType=INTEGER}, #{patientId,jdbcType=INTEGER}, #{appointmentDate,jdbcType=DATE}, 
      #{roleId,jdbcType=INTEGER}, #{registrationLevelId,jdbcType=SMALLINT}, #{departmentId,jdbcType=INTEGER}, 
      #{totalFee,jdbcType=DECIMAL}, #{isNormal,jdbcType=BIT}, #{cashierId,jdbcType=INTEGER}, 
      #{payType,jdbcType=TINYINT}, #{isBuyCaseBook,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="Registration" useGeneratedKeys="true" keyProperty="id">
    insert into registration
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="appointmentDate != null">
        appointment_date,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="registrationLevelId != null">
        registration_level_id,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="totalFee != null">
        total_fee,
      </if>
      <if test="isNormal != null">
        is_normal,
      </if>
      <if test="cashierId != null">
        cashier_id,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="isBuyCaseBook != null">
        is_buy_case_book,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=INTEGER},
      </if>
      <if test="appointmentDate != null">
        #{appointmentDate,jdbcType=DATE},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="registrationLevelId != null">
        #{registrationLevelId,jdbcType=SMALLINT},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="totalFee != null">
        #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="isNormal != null">
        #{isNormal,jdbcType=BIT},
      </if>
      <if test="cashierId != null">
        #{cashierId,jdbcType=INTEGER},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=TINYINT},
      </if>
      <if test="isBuyCaseBook != null">
        #{isBuyCaseBook,jdbcType=BIT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="getNextId" resultType="integer">
    select id +1 from  registration order by id desc limit 1
  </select>

  <update id="updateSelective" parameterType="Registration">
    update registration
    <trim prefix="set" suffixOverrides=",">
      <if test="patientId != null"> patient_id = #{patientId}, </if>
      <if test="appointmentDate != null"> appointment_date = #{appointmentDate}, </if>
      <if test="roleId != null"> role_id = #{roleId}, </if>
      <if test="registrationLevelId != null"> registration_level_id = #{registrationLevelId}, </if>
      <if test="departmentId != null"> department_id = #{departmentId}, </if>
      <if test="totalFee != null"> total_fee = #{totalFee}, </if>
      <if test="isNormal != null"> is_normal = #{isNormal}, </if>
      <if test="cashierId != null"> cashier_id = #{cashierId}, </if>
      <if test="payType != null"> pay_type = #{payType}, </if>
      <if test="isBuyCaseBook != null"> is_buy_case_book = #{isBuyCaseBook}, </if>
    </trim>
    where id = #{id}
  </update>

</mapper>