<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospitalbackend.model.dao.RegistrationLevelMapper">
    <resultMap id="MatchMap" type="RegistrationLevel">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="limit" property="limit"/>
        <result column="cost" property="cost"/>
    </resultMap>

    <select id="getRegistrationLevelCostById" resultMap="MatchMap">
        select cost from registration_level where id = #{id}
    </select>
</mapper>