<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospitalbackend.model.dao.TransactionLogMapper">

    <resultMap id="MatchMap" type="TransactionLog">
        <id column="id" property="id"/>
        <result column="invoice_code" property="invoiceCode"/>
        <result column="registration_id" property="registrationId"/>
        <result column="patient_id" property="patientId"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="collection_id" property="collectionId"/>
        <result column="project_id" property="projectId"/>
        <result column="item_id" property="itemId"/>
        <result column="amount" property="amount"/>
        <result column="pay_type" property="payType"/>
        <result column="total_money" property="totalMoney"/>
        <result column="status" property="status"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <insert id="insert" parameterType="TransactionLog" useGeneratedKeys="true" keyProperty="id">
        insert into transaction_log (invoice_code,
          registration_id, patient_id, user_id, type,
          collection_id, project_id, item_id, amount,
          pay_type, total_money, status)
        values (#{invoiceCode}, #{registrationId}, #{patientId}, #{userId},
        #{type}, #{collectionId}, #{projectId}, #{itemId}, #{amount},
        #{payType}, #{totalMoney}, #{status})
    </insert>

    <insert id="insertSelective" parameterType="TransactionLog" useGeneratedKeys="true" keyProperty="id">
        insert into arrangement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="invoiceCode != null">
                invoice_code,
            </if>
            <if test="registrationId != null">
                registration_id,
            </if>
            <if test="patientId != null">
                patient_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="collectionId != null">
                collection_id,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="itemId != null">
                item_id,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="payType != null">
                pay_type,
            </if>
            <if test="totalMoney != null">
                total_money,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="invoiceCode != null">
                #{invoiceCode,jdbcType=CHAR},
            </if>
            <if test="registrationId != null">
                #{registrationId,jdbcType=INTEGER},
            </if>
            <if test="patientId != null">
                #{patientId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="collectionId != null">
                #{collectionId,jdbcType=INTEGER},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=INTEGER},
            </if>
            <if test="itemId != null">
                #{itemId,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=INTEGER},
            </if>
            <if test="payType != null">
                #{payType,jdbcType=TINYINT},
            </if>
            <if test="totalMoney != null">
                #{totalMoney,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="updateSelective" parameterType="TransactionLog">
        update transaction_log
        <trim prefix="set" suffixOverrides=",">
            <if test="invoiceId != null"> invoice_code = #{invoiceCode}, </if>
            <if test="registrationId != null"> registration_id = #{registrationId}, </if>
            <if test="patientId != null"> patient_id = #{patientId}, </if>
            <if test="userId != null"> user_id = {userId}, </if>
            <if test="type != null"> type = #{type}, </if>
            <if test="collectionId != null"> collection_id = #{collectionId}, </if>
            <if test="projectId != null"> project_id = #{projectId}, </if>
            <if test="itemId != null"> item_id = #{itemId}, </if>
            <if test="amount != null"> amount = #{amount}, </if>
            <if test="payType != null"> pay_type = #{payType}, </if>
            <if test="totalMoney != null"> total_money = #{totalMoney}, </if>
            <if test="status != null"> status = #{status}, </if>
        </trim>
        where id = #{id}
    </update>


</mapper>