<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospitalbackend.model.dao.UserMapper">
    <resultMap id="UserAndRoleResultMap" type="User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="avatar" property="avatar"/>
        <result column="gmt_create" property="gmtCreate"/>
        <collection property="roles"  javaType="java.util.List" ofType="Role">
            <id column="r_id" property="id"/>
            <result column="user_id" property="userId"/>
            <result column="position_id" property="positionId"/>
            <result column="position_name" property="positionName"/>
            <result column="department_id" property="departmentId"/>
            <result column="department_name" property="departmentName"/>
            <result column="title_id" property="titleId"/>
            <result column="title_name" property="titleName"/>
        </collection>
    </resultMap>

    <select id="userAuthentication" resultType="com.neuedu.hospitalbackend.model.po.User">
        select * from user where id = #{id} and password = #{password}
    </select>

    <select id="listAllUsersAndRoles" resultMap="UserAndRoleResultMap">
        select u.*, r.id as r_id, r.user_id, r.position_id, r.position_name, r.department_id, r.department_name, r.title_id, r.title_name
        from user u, role r
        where u.id = r.user_id
    </select>

    <select id="get" resultType="User" parameterType="Integer">
    select id, name, avatar from user where id = #{id}
  </select>

    <insert id="insert" parameterType="com.neuedu.hospitalbackend.model.po.User" >
    insert into user (id, name, password, avatar)
    values (#{id}, #{name}, #{password}, {avatar})
  </insert>

    <update id="update" parameterType="com.neuedu.hospitalbackend.model.po.User">
        update user set name = #{name}, password = #{password}, avatar = #{avatar} where id = #{id}
    </update>

    <delete id="delete" parameterType="Integer">
        delete from user where id = #{id}
    </delete>

</mapper>