<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.hospitalbackend.model.testDAO.MedicineMapper" >
  <resultMap id="BaseResultMap" type="com.neuedu.hospitalbackend.model.testPO.Medicine" >
    <result column="id" property="id" jdbcType="SMALLINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="factory" property="factory" jdbcType="VARCHAR" />
    <result column="formulation" property="formulation" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="unit_prize" property="unitPrize" jdbcType="DECIMAL" />
    <result column="pinyin_code" property="pinyinCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, code, name, specification, unit, factory, formulation, type, unit_prize, pinyin_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neuedu.hospitalbackend.model.testPO.MedicineExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.neuedu.hospitalbackend.model.testPO.MedicineExample" >
    delete from medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neuedu.hospitalbackend.model.testPO.Medicine" >
    insert into medicine (id, code, name, 
      specification, unit, factory, 
      formulation, type, unit_prize, 
      pinyin_code)
    values (#{id,jdbcType=SMALLINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{factory,jdbcType=VARCHAR}, 
      #{formulation,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{unitPrize,jdbcType=DECIMAL}, 
      #{pinyinCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.hospitalbackend.model.testPO.Medicine" >
    insert into medicine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="factory != null" >
        factory,
      </if>
      <if test="formulation != null" >
        formulation,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="unitPrize != null" >
        unit_prize,
      </if>
      <if test="pinyinCode != null" >
        pinyin_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=SMALLINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="factory != null" >
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="formulation != null" >
        #{formulation,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="unitPrize != null" >
        #{unitPrize,jdbcType=DECIMAL},
      </if>
      <if test="pinyinCode != null" >
        #{pinyinCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neuedu.hospitalbackend.model.testPO.MedicineExample" resultType="java.lang.Integer" >
    select count(*) from medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update medicine
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=SMALLINT},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.specification != null" >
        specification = #{record.specification,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null" >
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.factory != null" >
        factory = #{record.factory,jdbcType=VARCHAR},
      </if>
      <if test="record.formulation != null" >
        formulation = #{record.formulation,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.unitPrize != null" >
        unit_prize = #{record.unitPrize,jdbcType=DECIMAL},
      </if>
      <if test="record.pinyinCode != null" >
        pinyin_code = #{record.pinyinCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update medicine
    set id = #{record.id,jdbcType=SMALLINT},
      code = #{record.code,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      specification = #{record.specification,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=VARCHAR},
      factory = #{record.factory,jdbcType=VARCHAR},
      formulation = #{record.formulation,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      unit_prize = #{record.unitPrize,jdbcType=DECIMAL},
      pinyin_code = #{record.pinyinCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>