<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospitalbackend.model.dao.NonMedicineMapper">
  <resultMap id="BaseResultMap" type="com.neuedu.hospitalbackend.model.po.NonMedicine">
    <result column="id" jdbcType="SMALLINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="cost_type" jdbcType="VARCHAR" property="costType" />
    <result column="executive_department" jdbcType="VARCHAR" property="executiveDepartment" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <insert id="insert" parameterType="com.neuedu.hospitalbackend.model.po.NonMedicine">
    insert into non_medicine (id, code, name, 
      specification, unit_price, cost_type, 
      executive_department, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=SMALLINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{unitPrice,jdbcType=DECIMAL}, #{costType,jdbcType=VARCHAR}, 
      #{executiveDepartment,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.hospitalbackend.model.po.NonMedicine">
    insert into non_medicine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="costType != null">
        cost_type,
      </if>
      <if test="executiveDepartment != null">
        executive_department,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=SMALLINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="costType != null">
        #{costType,jdbcType=VARCHAR},
      </if>
      <if test="executiveDepartment != null">
        #{executiveDepartment,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.neuedu.hospitalbackend.model.po.NonMedicine">
    <result column="id" jdbcType="SMALLINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="cost_type" jdbcType="VARCHAR" property="costType" />
    <result column="executive_department" jdbcType="VARCHAR" property="executiveDepartment" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <insert id="insert" parameterType="com.neuedu.hospitalbackend.model.po.NonMedicine">
    insert into non_medicine (id, code, name, 
      specification, unit_price, cost_type, 
      executive_department, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=SMALLINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{unitPrice,jdbcType=DECIMAL}, #{costType,jdbcType=VARCHAR}, 
      #{executiveDepartment,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.hospitalbackend.model.po.NonMedicine">
    insert into non_medicine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="costType != null">
        cost_type,
      </if>
      <if test="executiveDepartment != null">
        executive_department,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=SMALLINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="costType != null">
        #{costType,jdbcType=VARCHAR},
      </if>
      <if test="executiveDepartment != null">
        #{executiveDepartment,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>