<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.hospitalbackend.model.dao.RegistrationMapper" >
  <resultMap id="BaseResultMap" type="com.neuedu.hospitalbackend.model.po.Registration" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="appointment_date" property="appointmentDate" jdbcType="DATE" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="registration_level_id" property="registrationLevelId" jdbcType="INTEGER" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="total_fee" property="totalFee" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="cashier_id" property="cashierId" jdbcType="INTEGER" />
    <result column="pay_type" property="payType" jdbcType="TINYINT" />
    <result column="is_buy_case_book" property="isBuyCaseBook" jdbcType="BIT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.neuedu.hospitalbackend.model.po.Registration" >
    insert into registration (id, patient_id, appointment_date, 
      user_id, registration_level_id, department_id, 
      total_fee, status, cashier_id, 
      pay_type, is_buy_case_book, gmt_create, 
      gmt_modified)
    values (#{id,jdbcType=INTEGER}, #{patientId,jdbcType=INTEGER}, #{appointmentDate,jdbcType=DATE}, 
      #{userId,jdbcType=INTEGER}, #{registrationLevelId,jdbcType=INTEGER}, #{departmentId,jdbcType=INTEGER}, 
      #{totalFee,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT}, #{cashierId,jdbcType=INTEGER}, 
      #{payType,jdbcType=TINYINT}, #{isBuyCaseBook,jdbcType=BIT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.hospitalbackend.model.po.Registration" >
    insert into registration
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="patientId != null" >
        patient_id,
      </if>
      <if test="appointmentDate != null" >
        appointment_date,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="registrationLevelId != null" >
        registration_level_id,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="totalFee != null" >
        total_fee,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="cashierId != null" >
        cashier_id,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="isBuyCaseBook != null" >
        is_buy_case_book,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=INTEGER},
      </if>
      <if test="appointmentDate != null" >
        #{appointmentDate,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="registrationLevelId != null" >
        #{registrationLevelId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="totalFee != null" >
        #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="cashierId != null" >
        #{cashierId,jdbcType=INTEGER},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=TINYINT},
      </if>
      <if test="isBuyCaseBook != null" >
        #{isBuyCaseBook,jdbcType=BIT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>