<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.hospitalbackend.model.testdao.TransactionExceptionLogMapper" >
  <resultMap id="BaseResultMap" type="com.neuedu.hospitalbackend.model.po.TransactionExceptionLog" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="original_invoice_code" property="originalInvoiceCode" jdbcType="CHAR" />
    <result column="new_invoice_code" property="newInvoiceCode" jdbcType="CHAR" />
    <result column="reverse_invoice_code" property="reverseInvoiceCode" jdbcType="CHAR" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.neuedu.hospitalbackend.model.po.TransactionExceptionLog" >
    insert into transaction_exception_log (id, original_invoice_code, new_invoice_code, 
      reverse_invoice_code, role_id, reason, 
      gmt_create, gmt_modified)
    values (#{id,jdbcType=INTEGER}, #{originalInvoiceCode,jdbcType=CHAR}, #{newInvoiceCode,jdbcType=CHAR}, 
      #{reverseInvoiceCode,jdbcType=CHAR}, #{roleId,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.hospitalbackend.model.po.TransactionExceptionLog" >
    insert into transaction_exception_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="originalInvoiceCode != null" >
        original_invoice_code,
      </if>
      <if test="newInvoiceCode != null" >
        new_invoice_code,
      </if>
      <if test="reverseInvoiceCode != null" >
        reverse_invoice_code,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="originalInvoiceCode != null" >
        #{originalInvoiceCode,jdbcType=CHAR},
      </if>
      <if test="newInvoiceCode != null" >
        #{newInvoiceCode,jdbcType=CHAR},
      </if>
      <if test="reverseInvoiceCode != null" >
        #{reverseInvoiceCode,jdbcType=CHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>