.business-region{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .tool-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .tool-bar div{
    padding-left: 10px;
    padding-right: 10px;
  }
  .search-region{
    flex-grow: 15;
  }
  .table-region{
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    margin: 10px 20px;
  }
  .container{
    padding:20px;
  }
  .title p{
    font-size: 20px;
  }
  .button-group{
    flex-basis: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .demo-table-expand {
      font-size: 0;
    }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
  .avatar{
    border: 1px solid #91d5ff;
    width: 120px;
    height: 120px;
  }
  
  .select-box{
    width: 140px;
  }
  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }